<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" tools:ignore="GoogleAppIndexingWarning"
    package="com.forrestguice.suntimescalendars">

    <uses-permission android:name="${suntimesPermissionRoot}.permission.READ_CALCULATOR" />  <!-- needed to interact w/ Suntimes provider -->

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />           <!-- needed to interact w/ Calendar -->

    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />      <!-- needed to add new Calendars (via SyncAdapter) -->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />       <!-- calendar updates use a foreground service -->

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity android:name="com.forrestguice.suntimeswidget.calendar.SuntimesCalendarActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="suntimes.action.ADD_CALENDAR" />
                <category android:name="suntimes.SUNTIMES_CALENDAR" />
            </intent-filter>
            <meta-data android:name="SuntimesCalendarReference"
                android:value="com.forrestguice.suntimeswidget.calendar.task.calendars.TwilightCalendarAstro |
                               com.forrestguice.suntimeswidget.calendar.task.calendars.TwilightCalendarNautical |
                               com.forrestguice.suntimeswidget.calendar.task.calendars.TwilightCalendarCivil |
                               com.forrestguice.suntimeswidget.calendar.task.calendars.DaylightCalendar |
                               com.forrestguice.suntimeswidget.calendar.task.calendars.TwilightCalendarGold |
                               com.forrestguice.suntimeswidget.calendar.task.calendars.TwilightCalendarBlue |
                               com.forrestguice.suntimeswidget.calendar.task.calendars.MoonriseCalendar |
                               com.forrestguice.suntimeswidget.calendar.task.calendars.MoonphaseCalendar |
                               com.forrestguice.suntimeswidget.calendar.task.calendars.MoonapsisCalendar |
                               com.forrestguice.suntimeswidget.calendar.task.calendars.SolsticeCalendar" />
        </activity>

        <!-- Error Dialog Activity (may be shown from notification service) -->
        <activity android:name="com.forrestguice.suntimeswidget.calendar.ui.SuntimesCalendarErrorActivity"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <!-- Calendar Task Service -->
        <service android:name="com.forrestguice.suntimeswidget.calendar.task.SuntimesCalendarTaskService" android:exported="false" />

        <!-- Calendar Provider -->
        <provider
            android:name="com.forrestguice.suntimeswidget.calendar.SuntimesCalendarProvider"
            android:authorities="com.forrestguice.suntimescalendars.datasync.provider"
            android:exported="false"
            android:syncable="true"/>
        <service
            android:name="com.forrestguice.suntimeswidget.calendar.SuntimesCalendarSyncService"
            android:exported="true" android:permission="signature"
            android:process=":sync">  <!-- TODO: lint security warning.. exported="false" or define a permission? -->
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter" />
        </service>

        <!-- Template/Strings Provider -->
        <provider
            android:name="com.forrestguice.suntimeswidget.calendar.CalendarEventTemplateProvider"
            android:authorities="com.forrestguice.suntimescalendars.template.provider"
            android:permission="${suntimesPermissionRoot}.permission.READ_CALCULATOR"
            android:exported="true" tools:ignore="ExportedContentProvider"
            android:syncable="false" />

    </application>

</manifest>
