<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.forrestguice.suntimescalendars">

    <uses-permission android:name="suntimes.permission.READ_CALCULATOR" />  <!-- needed to interact w/ Suntimes provider -->

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />           <!-- needed to interact w/ Calendar -->

    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />      <!-- needed to add new Calendars (via SyncAdapter) -->

    <uses-sdk tools:overrideLibrary="com.flask.colorpicker" />  <!-- requires api 14+ -->

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity android:name="com.forrestguice.suntimeswidget.calendar.SuntimesCalendarActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Error Dialog Activity (may be shown from notification service) -->
        <activity android:name="com.forrestguice.suntimeswidget.calendar.SuntimesCalendarErrorActivity"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <!-- Calendar Task Service -->
        <service android:name="com.forrestguice.suntimeswidget.calendar.SuntimesCalendarTaskService" android:exported="false" />

        <!-- Calendar Provider -->
        <provider
            android:name="com.forrestguice.suntimeswidget.calendar.SuntimesCalendarProvider"
            android:authorities="com.forrestguice.suntimescalendars.datasync.provider"
            android:exported="false"
            android:syncable="true"/>
        <service
            android:name="com.forrestguice.suntimeswidget.calendar.SuntimesCalendarSyncService"
            android:exported="true" android:permission="signature"
            android:process=":sync">  <!-- TODO: lint security warning.. exported="false" or define a permission? -->
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter" />
        </service>

        <!-- Solstice Calendar Plugin -->
        <activity android:name="com.forrestguice.suntimes.calendars.task.calendars.SolsticeCalendar">
            <meta-data android:name="CalendarName" android:value="solsticeCalendar" />
            <meta-data android:name="CalendarTitle" android:value="Solstices, Equinoxes" />
            <meta-data android:name="CalendarSummary" android:value="" />
            <meta-data android:name="CalendarColor" android:value="0" />
            <meta-data android:name="CalendarReference" android:value="com.forrestguice.suntimeswidget.calendar.task.calendars.SolsticeCalendar" />
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="com.forrestguice.suntimeswidget.SUNTIMES_CALENDAR" />
            </intent-filter>
        </activity>

    </application>

</manifest>
